[phases.setup]
nixPkgs = ["python312", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python manage.py collectstatic --noinput"]

[start]
cmd = "gunicorn crm_fulfillment.wsgi --bind 0.0.0.0:$PORT --workers 3 --timeout 120"
